$main_color: #000;

$border: 1px solid #000;

$font_size_main_title: 67px;
$font_size_left_title: 50px;
$font_size_right_title: 38px;
$font_size_text: 16px;
$font_size_name_section: 18px;

$font-family: 'Montserrat', sans-serif;

$font-weight_light: 300;
$font-weight_regular: 400;
$font-weight_medium: 500;
$font-weight_semibold: 600;
$font-weight_bold: 700;
$font-weight_extrabold: 800;

$letter_spacing: 0.4px;