@import 'variable.scss';
@import 'mixin.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');

*{
    font-family: $font-family;
}

.border-r{
    border-right: 1px solid #000; 
}

.border-l{
    border-left:1px solid #000 ;
}

.border-r,.border-l{
    padding: 1.9rem;
}


.link{
    margin-right: 1.5rem;
    margin-left: 1.5rem;
    color: $main_color;
    font-weight: $font-weight_medium;
    font-size: $font_size_text;
    letter-spacing: $letter_spacing;
}

.nav{
    border: $border;
    height: 5rem;
    display:flex;
    justify-content: space-between;
    align-items: center;

    &_menu{
        display: flex;
    }
}